"*":
  "autocomplete-python":
    useKite: false
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "markdown-preview"
      "script"
      "language-gfm"
      "markdown-folder"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "6825415d-7158-6bfd-881f-40ad4040b0a3"
  jumpy:
    fontSize: 1
    highContrast: true
  linter:
    ignoreVCSIgnoredFiles: false
    inlineTooltipInterval: 200
    lintOnFly: false
    lintOnFlyInterval: 5000
  "markdown-preview": {}
  "markdown-preview-enhanced":
    useGitHubStyle: false
  "markdown-preview-plus": {}
  "markdown-writer":
    fileExtension: ".markdown .md"
  minimap: {}
  "project-manager":
    savePathsRelativeToHome: true
    sortBy: "last modified"
  smalls:
    jumpTriggerInputLength: 1
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
  "you-complete-me":
    globalExtraConfig: "/Users/wang/.vim/bundle/YouCompleteMe/.ycm_extra_conf.py"
    pythonExecutable: "python3"
    ycmdPath: "/Users/wang/.vim/bundle/YouCompleteMe/third_party/ycmd"
".coffee.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".diff":
  editor:
    preferredLineLength: 120
    tabLength: 4
".git-commit.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".git-config.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".git-rebase.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".litcoffee.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
