[
  {
    title: "Ifengnwsphone"
    group: "ios"
    paths: [
      "~/Desktop/feng/ifengnwsphone"
    ]
  }
  {
    title: "GTD"
    group: "note"
    paths: [
      "~/Desktop/GTD"
    ]
  }
  {
    title: "Atom"
    group: "atom"
    paths: [
      "~/.atom"
    ]
  }
]
